body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  background-color: #383c3b;
  color: white;
  font-size: 3rem;
  align-items: center;
  img {
    height: 80%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .logo {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
  }
  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    max-width: 750px;
    height: 100%;
  }
  .joinButton {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    align-items: center;
    background-color: #50e3c2;
  }
}

.banner {
  width: 100vw;
  img{
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  max-width: 1768px;
  margin: auto;
  margin-top: 75px;
  border: solid 1px red;
  img {
    max-width: 912px;
    height: 560px;
  }
  p {
    width: 768px;
    height: 560px;
  }
}
